*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f2f2f2;
}
h3{
    padding: 50px 50px;
    text-align: center;
    color: #2157b8;
    font-size:40px;
}
input{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}
button{
    border: none;
    color:white;
    background-color: #36d794;
    text-align: center;
    font-size: 16px;
    padding: 15px 30px;
    margin: 20px;
    border-radius: 5px;
}