*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f2f2f2;
}
.calc input{
    outline: none;
    border: none;
}
input{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}
select{
    margin:10px;
    padding: 10px;
    border-radius: 5px;
}
input:focus{
    background-color: #e7e9eb;
    border: solid  rgba(#000, .2);
}
select:focus{
    background-color: #e7e9eb;
    border: solid  rgba(#000, .2);
}
h1{
    padding: 50px 50px;
    text-align: center;
    color: #2157b8;
    font-size:40px;
}
form{
    margin: 0 auto;
    width: 600px;
}
#add,#calc,#cancel{
    border: none;
    color:white;
    background-color: #36d794;
    text-align: center;
    font-size: 16px;
    padding: 15px 30px;
    margin: 20px;
    border-radius: 5px;
}
#calc:hover,
#add:hover,
#cancel:hover{
    background-color: #2eaf79;
}
#calc{
    margin-right: 10px;
}
h3{
    font-size: 40px;
    color: #b91240;
}
